.sidebar-skeleton{
    position: fixed;
    left: 0;
    width: 230px;
    background-color: #F8F8F8;
    height: 100vh;
    box-shadow: 0 2px 5px #919191;
    overflow-x: hidden;
}
.sidebar-skeleton[data-mode="dark"]{
    background-color: null;
}
.route-history-skeleton{
    padding: 5px;
    padding-top: 7px;
    padding-left: 15px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
}
.sidebar-skeleton[data-mode="dark"] .route-history-skeleton{

}
.route-link-skeleton{
    display: flex;
    flex-direction: column;
}
.route-link{
    padding: 15px;
    padding-left: 15px;
    background-color: #fafafa;
    text-decoration: none !important;
    color: #555;
    cursor: pointer;
}
.sidebar-skeleton[data-mode="dark"] .route-link-skeleton{

}
.sidebar-skeleton[data-mode="dark"] .route-link{

}
.route-go-back-skeleton{
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.route-go-back-skeleton button{
    border: none;
    background-color: #E3E3E3 !important;
}
.route-go-back-skeleton span{
    font-weight: 500;
}
.menu-link-right{
    position: absolute;
    right: 5%;
}
.history-slash{
    position: relative;
    bottom: 2px;
}