.customer-profile-skeleton{
    position: absolute;
    right: 0;
    width: 82%;
    display: flex; /* ! */
    flex-direction: column;
}
.customer-image-skeleton{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.customer-image-skeleton img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.placeholder-customer-image{
    font-size: 10rem;
}
.customer-image-edit-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbdbdb;
    margin-top: auto;
}
.customer-image-edit-btn input{
    display: none;
}
.customer-intro-skeleton{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
}   
.customer-intro-skeleton h4{
    margin-top: 10px;
    color: #3686FF;
}
.customer-intro-skeleton p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.customer-details-skeleton{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.customer-details-value{
    padding-left : 15px;
    border-left: 1px solid #707070;
    color: #616161;
}
.customer-details-value p span{
    color: black;
}
.customer-details-edit-btn button, .customer-details-btn button{
    background: #3686FF;
    padding: 5px;
    border: none;
    color: white;
    border-radius: 5px;
}