.nav-wrapper{
    background-color: #ffffff;
    z-index: 20;
    position: sticky;
    top: 0;
    height: 45px;
    box-shadow: 0 -1px 5px #888;
}
.nav-wrapper[data-mode="dark"]{
    background-color: #2c2c2c;
    box-shadow: 0 -1px 5px #1f1f1f;
}
.search-bar{
    background-color: #f5f5f5;
    padding: 5px !important;
    border-radius: 5px;
    outline: none;
    border: 0px transparent solid !important;
    border-radius: 5px 0 0 5px !important;
    width: 4rem;
    transition: 0.5s all cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.search-bar[data-mode="dark"]{
    background-color: #333;
    color: white !important;
}
.search-bar:focus{
    width: 12rem;
    box-shadow: none !important;
    border: 1px #0099ff solid !important;
}
.active{
    width: 12rem;
    box-shadow: none !important;
    border: 1px #0099ff solid !important;
}
.search-btn{
    padding: 5px 10px !important;
    border: 0px transparent solid;
    outline: none !important;
    border-radius: 0 5px 5px 0;
}

.search-btn[data-mode="dark"]{
    background-color: #555;
}
.brand-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
