:root{
  --speed: 300ms;
  --dropdown-btn-bg: #353535;
  --dropdown-btn-bg-light: aliceblue;
  --bg: #333;
  --item-bg: #444;
  --item-bg-light: #ffffff;
  --bg-light: #eee;
  --text-color: white;
  --text-color-light: #333;
  --border: none;
  --border-radius: 5px;
}

.dropdown-skeleton{
  position: absolute;
  user-select: none !important;
}

/* Toggle button */
.dropdown-btn{
  height: 30px;
  width: 30px;
  background-color: var(--dropdown-btn-bg-light);
  border-radius: 50%;
  position: relative;
  user-select: none;
  transition: 0.2s all ease;
}
.dropdown-caret{
  position: absolute;
  top: 20%;
  user-select: none;
  left: 35%;
  transition: 0.3s all cubic-bezier(0.23, 1, 0.320, 1);
  transform: rotate(0deg);
}
.dropdown-caret-active{
  transform: rotate(180deg);
}
.dropdown-btn:hover{
  filter: brightness(0.8);
}
.dropdown-btn:active{
  filter: brightness(0.95);
  transform: scale(0.95);
}

/* Dark */

.dropdown-btn[data-mode="dark"]{
  background-color: var(--dropdown-btn-bg);
}
.dropdown-caret[data-mode="dark"]{
  color: #fff;
}

/* Menu itself */
.main-wrapper {
  position: absolute;
  top: 100%;
  background-color: var(--bg-light);
  width: 18rem;
  left: 50%;
  transform: translateX(-80%);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: all var(--speed) ease;
  box-shadow: 0 5px 10px #888;
  z-index: 10;
  overflow: hidden;
}

/* Dark */
.main-wrapper[data-mode="dark"]{
  background-color: var(--bg);
  box-shadow: 0 5px 10px rgb(37, 37, 37);
}

.menu-skeleton {
  width: 100%;
}
.item {
  color: var(--text-color-light);
  background: var(--item-bg-light);
  margin: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: all var(--speed);
  padding: 0 10px;
}
.item[data-mode="dark"]{
  color: var(--text-color);
  background-color: var(--item-bg);
}

.go-back span{
  margin-right: 5px;
}
.item button {
  background: none;
  border: none;
  outline: none !important;
  color: var(--text-color-light);
}
.item span[role="img"] {
  font-size: 30px;
  color: var(--text-color-light);
}
.item span img{
  margin-bottom: 5px;
}
.item .right {
  margin-left: auto;
}

.item[data-mode="dark"] button,  .item[data-mode="dark"] span{
  color: var(--text-color);
}

/* CSSTransition classes  */
.first-menu-enter {
  position: absolute;
  transform: translateX(-110%);
}
.first-menu-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.first-menu-exit {
  position: absolute;
}
.first-menu-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.second-menu-enter {
  transform: translateX(110%);
}
.second-menu-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.second-menu-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}