.dropdown-container{
    position: absolute;
    right: 0;
    top: 135%;
    min-width: 15vw;
    transform: translateY(-17px);
}

.dropdown-container section{
    display: flex;
    flex-direction: column;
    background: #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: lavender;
    padding: 10px;
    width: 90%;
}
.dropdown-container section .item-d1{
    padding: 10px;
    background-color: #444;
    margin: 5px;
    border-radius: 5px;
}

.dropdown-enter{
    opacity: 0;
    top: 0%;
}
.dropdown-enter-active{
    opacity: 1;
    top: 135%;
    transition: 150ms all cubic-bezier(0.47, 0, 0.745, 0.715);
}
.dropdown-exit{
    opacity: 1;
    top: 135%;
    transition: 150ms all cubic-bezier(0.47, 0, 0.745, 0.715);
}
.dropdown-exit-active{
    opacity: 0;
    top: 0;
}


.fade-enter{
    opacity: 0;
}

.fade-enter-active{
    opacity: 1;
    transition: opacity 0.5s ;
}

.fade-exit{
    opacity: 1;
    transition: opacity 0.5s ;
}
.fade-exit-active{
    opacity: 0;
}

.fade-second-enter{
    opacity: 0;
}

.fade-second-enter-active{
    opacity: 1;
    transition: opacity 0.5s ;
}

.fade-second-exit{
    opacity: 1;
    transition: opacity 0.5s ;
}
.fade-second-exit-active{
    opacity: 0;
}