.sidebar-skeleton{
    position: fixed;
    left: 0;
    width: 18%;
    background-color: #F8F8F8;
    height: 100vh;
    box-shadow: 0 2px 5px #919191;
    overflow-x: hidden;
    z-index: 15;
    transition: 2s position ease;
}
.sidebar-skeleton[data-mode="dark"]{
    background-color: #363636;
    box-shadow: 0 2px 5px #0f0f0f;
}
.route-history-skeleton{
    padding: 5px;
    padding-top: 7px;
    padding-left: 15px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
}
.sidebar-skeleton[data-mode="dark"] .route-history-skeleton{
    background-color: #2A2929;
    color: #BCBCBC;
}
.route-link-skeleton{
    display: flex;
    flex-direction: column;
}
.route-link{
    padding: 15px;
    padding-left: 15px;
    background-color: #fafafa;
    text-decoration: none !important;
    color: #555;
    cursor: pointer;
}
.sidebar-skeleton[data-mode="dark"] .route-link-skeleton{
}
.sidebar-skeleton[data-mode="dark"] .route-link{
    background-color: #363636;
    color: #BCBCBC;
}
.route-go-back-skeleton{
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 5px;
}
.route-go-back-skeleton button{
    border: none;
    background-color: #E3E3E3 !important;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
}
.route-go-back-skeleton span{
    font-weight: 500;
}
.sidebar-skeleton[data-mode="dark"] .route-go-back-skeleton button{
    background-color: #272727 !important;
    color: #BCBCBC;
}
.sidebar-skeleton[data-mode="dark"] .route-go-back-skeleton span{
    color: #bcbcbc;
}
.menu-link-right{
    position: absolute;
    right: 5%;
}
.history-slash{
    position: relative;
    bottom: 2px;
}


.sidebar-collapse-enter{
    left: -110%;
}
.sidebar-collapse-enter-active{
    left: 0;
    transition: .2s all ease;
}
.sidebar-collapse-exit{
    left: 0;
    transition: .2s all ease;
}
.sidebar-collapse-exit-active{
    left: -110%;
}
.sidebar-cross-button{
    border: none;
    background-color: black;
    color: wheat;
    margin-left: auto;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
@media (max-width: 650px){
    .sidebar-skeleton{
        width: 13rem;
    }
    
}